@import "./partials/standard";
@import "./partials/colors";
@import "./partials/fonts";
@import "./partials/mixins";

body{
    background-color: $dark;
    color: white;
    font-family: $primaryFont;
}
p{
    margin-bottom: 0;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: underline;
    color: white;
}

/*Utilities*/
.darkBg{
    background-color: $dark;
}
.lightGrayBg{
    background-color: $lightGray;
}

.grayText{
    color: $gray;
}
.greenText{
    color: $green;
}
.greenText:hover{
    color: $hoverGreen;
}

.f-xs{
    font-size: $fxs;
}
.f-sm{
    font-size: $fsm;
}
.f-md{
    font-size: $fmd;
}
.f-lg{
    font-size: $flg;
}
.f-xl{
    font-size: $fxl;
}
.f-giant{
    font-size: $fgiant;
}

.f-bold{
    font-weight: bold;
}

.custom-primary-outline-btn{
    @include custom-btn(transparent, $green, $green);
}
.custom-primary-outline-btn:hover{
    @include custom-btn-hover($green, $black, $green);
}
.clickable:hover{
    cursor: pointer;
}

/*Header Bar*/
.headerBar{
    margin-bottom: 20px;
}

/*List*/
.listItem{
    overflow-x: scroll;
}

/*Navbar*/
.custom-navbar{
    background-color: $black;
    padding: 10px 0px;
    position: fixed;
    width: 100vw;
    top: 0;
}

/*Body Container*/
.body-container{
    margin-top: 70px;
}

/*Search Popup*/
.search-popup{
    margin: 10px 0px 0px 0px;
}
.search-popup-disabled{
    display: none;
}
.search-input{
    background-color: $dark;
    border: 1px solid $dark;
    border-radius: 0px;
    width: 40vw;
    padding: 5px;
    margin-right: 5px;
    color: white;
    font-size: $fsm;
}
.search-input:focus{
    outline: 1px solid $green;
}

/*Category Board*/
@media screen and (max-width: 768px) {
    .cat-board{
        display: none;
    }
}
.cat-board{
    @include board($lightGray, $lightGray, $black, 5px, 10px);
    .list:hover{
        background-color: $dark;
    }
    .active{
        background-color: $dark;
        color: $gray;
    }
    a:hover{
        text-decoration: none;
    }
}

/*Bulletin Board*/
.bulletin-board{
    @include board($lightGray, $lightGray, $black, 10px, 10px);
    a:hover{
        color: $green;
    }
}