@import "./partials/standard";
@import "./partials/colors";
@import "./partials/fonts";
@import "./partials/mixins";

body{
    background-color: $dark;
    color: white;
    font-family: $primaryFont;
}
p{
    margin-bottom: 0;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: underline;
    color: white;
}

/*Utilities*/
.darkBg{
    background-color: $dark;
}
.lightGrayBg{
    background-color: $lightGray;
}

.grayText{
    color: $gray;
}
.greenText{
    color: $green;
}
.greenText:hover{
    color: $hoverGreen;
}

.f-xs{
    font-size: $fxs;
}
.f-sm{
    font-size: $fsm;
}
.f-md{
    font-size: $fmd;
}
.f-lg{
    font-size: $flg;
}
.f-xl{
    font-size: $fxl;
}
.f-giant{
    font-size: $fgiant;
}

.f-bold{
    font-weight: bold;
}

.custom-primary-outline-btn{
    @include custom-btn(transparent, $green, $green);
}
.custom-primary-outline-btn:hover{
    @include custom-btn-hover($green, $black, $green);
}
.clickable:hover{
    cursor: pointer;
}

/*Header Bar*/
.headerBar{
    margin-bottom: 20px;
}

/*List*/
.listItem{
    overflow-x: scroll;
}

/*Navbar*/
.custom-navbar{
    background-color: $black;
    padding: 10px 0px;
    position: fixed;
    width: 100vw;
    top: 0;
}

/*Footer*/
.custom-footer{
    background-color: $lightGray;
    margin-top: 20px;
    position: relative;
    bottom: 0px;
    padding: 20px 0px 10px 0px;
    .footer-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .description{
            font-size: $fsm;
            .author{
                color: $green;
            }
        }
        .social-icons{
            padding: 5px 0px;
            i{
                padding: 5px 10px;
            }
            .github:hover{
                i{
                    color: $black;
                }
            }
            .facebook:hover{
                i{
                    color: #3b5998;
                }
            }
            .twitter:hover{
                i{
                    color: #1d9bf0;
                }
            }
        }
    }
}

/*Body Container*/
.body-container{
    margin-top: 70px;
}

/*Search Popup*/
.search-popup{
    margin: 10px 0px 0px 0px;
}
.search-popup-disabled{
    display: none;
}
.search-input{
    background-color: $dark;
    border: 1px solid $dark;
    border-radius: 0px;
    width: 40vw;
    padding: 5px;
    margin-right: 5px;
    color: white;
    font-size: $fsm;
}
.search-input:focus{
    outline: 1px solid $green;
}

/*Category Board*/
@media screen and (max-width: 768px) {
    .cat-board{
        display: none;
    }
}
.cat-board{
    @include board($lightGray, $lightGray, $black, 5px, 10px);
    .list:hover{
        background-color: $dark;
    }
    .active{
        background-color: $dark;
        color: $gray;
    }
    a:hover{
        text-decoration: none;
    }
}

/*Bulletin Board*/
.bulletin-board{
    @include board($lightGray, $lightGray, $black, 10px, 10px);
    a:hover{
        color: $green;
    }
}

/*Pagination*/
.pagination{
    margin: 20px 0px;
    font-size: $fsm;
    display: flex;
    justify-content: center;
    align-items: center;
    .action-btn{
        border: 1px solid $green;
        padding: 0px 5px;
    }
    .action-btn:hover{
        background-color: $green;
        color: $black;
    }
    .page-label{
        padding: 0px 5px;
    }
    .page-list{
        list-style-type: none;
        padding: 0;
        margin: 0px 5px;
    }
    .page-number{
        display: inline-block;
        padding: 0px 10px;
        margin: 0px 2px;
    }
    .page-number:hover{
        background-color: $lightGray;
    }
    .active{
        background-color: $lightGray;
        color: $green;
    }
}