.grayBg{
    background-color: #2E3740;
}
.lightGrayBg{
    background-color: #252d35;
}

.grayText{
    color: #c4c4c4;
}
.greenText{
    color: #a9cf54;
}
.greenText:hover{
    color: #a9cf54;
}

.f11{
    font-size: 11px;
}
.f12{
    font-size: 12px;
}
.f14{
    font-size: 14px;
}
.f16{
    font-size: 16px;
}
.f18{
    font-size: 18px;
}
.f24{
    font-size: 24px;
}

.fbold{
    font-weight: bold;
}